#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#define HM_TAPPING_TERM 300
#define HM_TAPPING_TERM_FAST 200
#define HM_PRIOR_IDLE 150

#define KEYS_L 0  1  2  3  4  5 13 14 15 16 17 18 28 29 30 31 32 33
#define KEYS_R 7  8  9 10 11 12 22 23 24 25 26 27 36 37 38 39 40 41
#define KEYS_T 42 43 44 45 46 47 48

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

/*
 * Layer Tap Settings
 */
&lt {
    // Increase layer tap time
    // tapping-term-ms = <300>;

    // Quickly tap-tap-holding the lt button will repeat the tap behavior
    // For example enter-enter-hold, will output multiple enter while you
    // keep holding the key.
    // But holding enter without double tapping, will activate the layer.
    // quick-tap-ms = <200>;

     flavor = "balanced";
};

/*
 * Sticky Key Settings
 */
&sk {
    // Deactivate shift on press of next key instead of on release
    // to prevent capitalization of multiple characters when rolling
    // keys (such as `ST`).
    quick-release;
};

&mt {
     flavor = "balanced";
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "layer/alt Tap Dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&mo 2>, <&kp LALT>;
        };
       // Positional Homerow mods
        // Homerow mods that prevent accidental activations when rolling keys,
        // such as when typing `st` or `ne` on colemak-dh layouts or `as` on
        // qwerty.
        //
        // Works by only allowing a mod to activate within tapping-term if
        // it's on the opposite side of the keyboard or on the same side thumb
        // keys.

        // Further optimization using urob's timerless homerow mods method:
        // https://github.com/urob/zmk-config#timeless-homerow-mods
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>,  <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <175>;                // repeat on tap-into-hold
            require-prior-idle-ms = <HM_PRIOR_IDLE>;

            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;

            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
        };

        /*
         * Shifted Backspace deletes
         *
         * Usage: &mm_bspc_del
         * Tap: Backspace
         * Shift-Tap: Delete
         */
        mm_bspc_del: bspc_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

   macros {
        scrcp: scrcp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT &kp LCTL &kp LGUI>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LSHFT &kp LCTL &kp LGUI>
                ;
        };
        lck: lck {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTL &kp LGUI>
                , <&macro_tap &kp Q>
                , <&macro_release  &kp LCTL &kp LGUI>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp GRAVE  &kp Q         &kp W          &kp E     &kp R  &kp T                            &kp UP               &kp Y    &kp U  &kp I      &kp O        &kp P            &mm_bspc_del
&kp TAB    &hm_l LALT A  &hm_l LGUI S   &kp D     &kp F  &kp G                  &kp LEFT  &kp LCLK  &kp RIGHT  &kp H    &kp J  &kp K      &hm_r RGUI L &hm_r RALT SEMI  &kp SQT
&td0       &kp Z         &kp X          &kp C     &kp V  &kp B     &kp C_PP               &kp DOWN             &kp N    &kp M  &kp COMMA  &kp DOT      &kp FSLH         &mo 3
                       &kp LGUI  &lt 1 ESC  &mt LSHIFT ENTER                                     &mt LC(LS(LA(LGUI))) SPACE  &mo 2  &kp LCTRL
            >;

             sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
&trans    &kp N1       &kp N2         &kp N3       &kp N4     &kp N5                              &mmv MOVE_UP                  &kp N6    &kp N7     &kp N8    &kp N9    &kp N0    &trans
&trans    &kp EQUAL    &kp UNDERSCORE &kp MINUS    &kp PLUS   &kp AMPS            &mmv MOVE_LEFT  &mkp LCLK     &mmv MOVE_RIGHT &kp LBKT  &kp RBKT   &kp LPAR  &kp RPAR  &kp STAR  &trans
&trans    &kp AT_SIGN  &kp DOLLAR     &kp PERCENT  &kp EXCL   &kp HASH &kp C_MUTE                 &mmv MOVE_DOWN                &kp PIPE  &kp CARET  &kp LBRC  &kp RBRC  &kp NUBS  &trans
                                    &trans       &trans     &trans                                                            &trans  &kp RGUI     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
&lck      &kp F1          &kp F2          &kp F3          &kp F4      &kp F5                                  &mmv MOVE_UP                     &kp F6           &kp F7           &kp F8           &kp F9              &kp F10   &kp F11
&trans    &trans          &scrcp          &trans          &kp C_NEXT  &kp PG_UP                     &mmv MOVE_LEFT  &mkp LCLK &mmv MOVE_RIGHT  &kp LEFT         &kp DOWN         &kp UP           &kp RIGHT           &kp HOME  &kp F12
&trans    &rgb_ug RGB_OFF &rgb_ug RGB_ON  &rgb_ug RGB_EFF &kp C_MUTE  &kp PG_DN  &trans                     &mmv MOVE_DOWN                     &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD     &kp END   &soft_off
                                    &trans     &kp LCTL     &trans                                                                             &trans    &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
&studio_unlock  &none             &none         &none         &none         &none                                   &mmv MOVE_UP                   &none       &none      &none       &none      &none          &none
&trans          &bt BT_CLR_ALL    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3             &mmv MOVE_LEFT  &mkp LCLK    &mmv MOVE_RIGHT  &kp LEFT    &kp DOWN   &kp UP      &kp RIGHT  &trans         &trans
&trans          &sys_reset        &bootloader   &out OUT_USB  &out OUT_BLE  &trans  &trans                    &mmv MOVE_DOWN                       &trans      &trans     &bootloader &sys_reset &kp SCROLLLOCK &trans
                                    &trans       &trans     &trans                                                                                  &trans      &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };
    };
};
